<div>
  <h2>Indicador de TRF ( tiempo de respuesta a fallos)</h2>
    <ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
  </div>
  <div>
    <label>Resultado del KPI 02 (Julio - Agosto)</label>
    <h3>{{resultado_kpi2}}</h3>
  </div>