.center-content {
    margin-top: 100px;
    text-align: -webkit-center;
    font-weight: bold;
    border-color: #85929E;
    border-radius: 10px;
    border-style: solid;
    margin: 200px;
    padding: 20px;
    overflow: hidden;
}

.example-button-row {
    display: table-cell;
    width: 490px;
    margin-top: 20px;
  }

  button {
    width: 100px;
    margin: 10px;
    padding: 5px;
  }